@model List<Cereal>
@foreach(var cereal in Model)
{
<section>
    <h1><a href="Product/Details/@cereal.Id">@cereal.Name</a></h1>
    <div class="card-columns box-shadow">
        <p>Manufacturer: @cereal.Manufacturer</p>
        <p>Rating: @cereal.Rating</p>

    </div>
</section>
}
