@model IEnumerable<Cereal>
    <form>
        <label><input type="radio" name="searchParam" value="Name" />Name</label>
        <label><input type="radio" name="searchParam" value="Manufacturer" />Manufacturer</label><br />
        <label><input type="text" name="name" /></label>
        <button>Search</button>
    </form>
    <form>
        <label><input type="radio" name="sortBy" value="Ascending" /> Ascending </label>
        <label><input type="radio" name="sortBy" value="Descending" /> Descending </label>
        <button>Sort</button>
    </form>
    <div class="">
        @foreach (var cereal in Model)
        {
            <section class="card text-center float-left col-5">
                <h5><a class="text-dark" href="Product/Details/@cereal.Id">@cereal.Name</a></h5>
                <div>
                    <p>Manufacturer: @cereal.Manufacturer</p>

                </div>
            </section>
        }
    </div>
